*.pyc
.DS_Store
*.swp
**/secret.py
**/env.py
/venv/
/static/
/media/
/.vagrant/
ansible/.vagrant/
/Vagrantfile.local
/docs/_build/
pages/static/js/temp/
node_modules
ansible/nostalgio_keystore/*
ansible/files/*
ansible/group_vars/*
ansible/host_vars/*
