{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load static nostalgio_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="intro">
        <div class="row center-row">
            <div class="medium-6 large-4 columns hide-for-small-only">
                <div id="tagline">
                    <div>
                        &nbsp;
                    </div>
                    <div class="tagtext delay-2">
                        Timeless Design
                    </div>
                    <div class="tagtext delay-3">
                        { + }
                    </div>
                    <div class="tagtext delay-4">
                        Craftsmanship Code
                    </div>                    
                </div>
            </div>
            <div class="medium-6 large-4 large-offset-4 columns">
                <!-- Place rolodex of cool statements here. -->
                <div id="quick-contact-form" class="delay-1">
                    <form action="quick_contact" class="form compact-form" method="post" accept-charset="utf-8">
                        <div>
                            <span>I want to talk about </span>
                            <select name="" class="inline-select">
                                <option value="">software</option>
                                <option value="">a website</option>
                                <option value="">e-commerce</option>
                                <option value="">consulting</option>
                            </select>
                            <span> for my company or startup, please contact me: </span>
                            <br>
                            <input type="text" name="" value="" placeholder="first and last name">
                            <input type="email" name="" value="" placeholder="email address">

                            <button type="submit" class="button expanded">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="section">
        <div class="row text-center">
            <div class="medium-10 medium-centered columns">
                <h3><strong>{{ self.title_text|richtext }}</strong></h3>
                {{ self.body|richtext }}
                <div id="carousel">
                    {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
                </div>
            </div>
        </div>
    </div>

	<div class="section">
	    <div id="icons" class="row text-center">
	    <h3><strong>Featuring</strong></h3>
	    <br>
	    <div class="medium-up-3 small-up-1" data>
	        {% for block in self.content_items.all %}
	        <div class="column icon grow">
	            <a href="{{ block.link }}" target="_blank">
	                <div class="callout">
	                 {% if block.image %}
	                    {% image block.image fill-70x70 %}
	                 {% endif %}
	                 <h5><strong>{{ block.title}}</strong></h5>
	                 {{ block.content|richtext }}
	                </div>
	            </a>
	        </div>
	       {% endfor %}
	    </div>
	    </div>
	</div>

{% endblock %}


