{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load static nostalgio_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <!-- Modals -->


    <div class="reveal" id="quick-send-success" data-reveal>
        <h3 class="text-center">Awesome. We'll Be in Touch.</h3>
        <p class="lead text-center">We have received your inquiry and will respond to you soon.</p>
        <p class="text-center">Also, feel free to call us during normal business hours. 206.930.2645</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal" id="quick-send-error" data-reveal>
        <h3 class="text-center">Oh no! Something Went Wrong.</h3>
        <p class="lead text-center">Please try sending us an email directly <a href="mailto:joshua@nostalg.io">joshua@nostalg.io</a>.</p>
        <p class="text-center">Also, feel free to call us during normal business hours. 206.930.2645</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="intro">
        <div class="row center-row" data-equalizer="intro" data-equalize-on="medium">
            <div class="medium-6 large-4 columns">
                <div id="tagline" class="delay-2 vertical-center" data-equalizer-watch="intro">
                    <div class="tagtext delay-3 hide-for-small-only">
                        Timeless Design
                    </div>
                    <div class="tagtext delay-4 hide-for-small-only">
                        &amp;
                    </div>
                    <div class="tagtext delay-5 hide-for-small-only">
                        Craftsmanship Code
                    </div>
                    <hr class="hide-for-small-only">
                    <p>
                        Affordable, handmade, web apps.
                        Coded with love in the USA.
                    </p>                
                </div>
            </div>
            <div class="medium-6 large-4 large-offset-4 columns">
                <!-- Place rolodex of cool statements here. -->
                <div id="quick-contact-form" class="delay-1 loading-container vertical-center" data-equalizer-watch="intro">
                    <form id="quick-send-form" action="." class="form compact-form" method="post" accept-charset="utf-8">
                        <div>
                            <div class="row collapse">
                                <div class="small-5 columns noflow">
                                    Message
                                </div>
                                <div class="small-3 columns text-center">
                                    <div class="switch">
                                        <input class="switch-input" id="contact_switch" type="checkbox" name="contact_switch" value="">
                                        <label class="switch-paddle" for="contact_switch"></label>
                                    </div>
                                </div>
                                <div class="small-4 columns text-right">
                                    Quote
                                </div>
                            </div>
                            <hr>
                            <span>I want to talk about </span>
                            <select name="reason" class="inline-select">
                                <option value="SOFTWARE">software</option>
                                <option value="WEBSITE">a website</option>
                                <option value="ECOMM">e-commerce</option>
                                <option value="CONSULT">consulting</option>
                                <option value="BI">B.I.</option>
                            </select>
                            <span> for my company or startup, please contact me: </span>
                            <br>
                            <input type="text" name="name" value="" placeholder="first and last name">
                            <input type="email" name="email" value="" placeholder="email address">

                            <button type="submit" class="button expanded">SEND</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Down arrow -->
            <div class="small-12 columns text-center">
                <img class="scrolldown" src="{% static 'img/down.png' %}" alt="Learn More">
            </div>

        </div>
    </div>

    <div class="section">
        <div class="row text-center">
            <div class="medium-10 medium-centered columns">
                <h2 id="home-content-header">
                    {{ self.title_text|richtext }}
                </h2>
                <h2>~ Nostalgio ~</h2>
                <h4 id="home-content-subheader">
                    {{ self.body|richtext }}
                </h4>
                
                {% comment %}
                <div id="carousel">
                    {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>

    <div id="service-details" class="section" data-equalizer="service" data-equalize-on="medium">
        <div class="row">
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>Business Intelligence</h4>
            </div>
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>Startup Apps</h4>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>E-Commerce</h4>
            </div>
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>Process Management</h4>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>Big Data</h4>
            </div>
            <div class="medium-6 small-12 columns" data-equalizer-watch="service">
                <h4>Custom Software</h4>
            </div>
        </div>
    </div>

    <div class="section">
        <div id="icons" class="row text-center">
            <h3><strong>Featured Posts</strong></h3>
            <br>
            <div class="medium-up-3 small-up-1" data>
                {% for block in self.content_items.all %}
                <div class="column icon grow">
                    <a href="{{ block.link }}" target="_blank">
                        <div class="callout">
                         {% if block.image %}
                            {% image block.image fill-70x70 %}
                         {% endif %}
                         <h5><strong>{{ block.title}}</strong></h5>
                         {{ block.content|richtext }}
                        </div>
                    </a>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var HAS_QUICK_SEND = true;
    </script>
{% endblock %}


